/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */
.container-fluid {
    background-color: #183D63;
    color: aliceblue;
}
.voltar{
    background-color: #183D63;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: aliceblue;
}
.informacao{
    text-align: center;
    padding: 10px;
    font-size: 22px;
    color: #183D63;
}

.inputBox {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d4e2f1;
    /* Cor azul-claro */
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
    color: #004a8f;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #FF9749;
}

/* Rodapé */
.rodape {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #183D63;
}

/* Sub-bloco */
.subb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #183D63;
}
.bat {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.navv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #004a8f; 
    width: 100%;
}