* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font: lobster;
}

.imagemin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

.inputBox {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d4e2f1;
    /* Cor azul-claro */
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.sex{
    background-color: #d4e2f1;
    border-radius: 10px;
    margin-top: 10px;
}
.inputUser {
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    border: none;
    background-color: #d4e2f1;
}

.labelInput {
    display: block;
    font-weight: bold;
    color: orange;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(231, 185, 57));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(231, 185, 57));
}

.voltar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
}
.ultima {
    margin-top: 150%;
    text-align: center;
}
