/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */
.container-fluid {
    background-color: #183D63;
    color: aliceblue;
}
.voltar{
    background-color: #183D63;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    color: #024281;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
    color: #183D63;
}


/* Rodapé */
.rodape {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #183D63;
}

/* Sub-bloco */
.subb {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    color: #183D63;
}

/* Baterias */
.bat {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #004a8f; 
    width: 100%;
}


.redr{
    background-color: #183D63;
    width: 40px;
    height: 40px;
    align-items: center;
}
.alt{
    width: 30px;
    height: auto;
}
.caixinha{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.ss{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.supreme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}