/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #183D63;
    display: flex;
}
/* Geral */
.container-fluid {
    background-color: #183D63;
    color: aliceblue;
}
.voltar{
    background-color: #183D63;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.card{
    background-color: #183D63;
    border-radius: 24px;
    padding: 24px;
    min-width: 300px;
}
.fields{
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    flex-direction: row;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    
}
.inp{
    width: 50%;
    align-items: center;
}
.card button{
    background-color: #183D63;
    color: white;
    width: 50%;
    margin-top: 10px;
}
.results-values{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 80vw;
}
.results-values .result-value{
    background-color: #FF9749;
    margin: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;

}

/* Rodapé */
.rodape {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #183D63;
}

/* Sub-bloco */
.subb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #183D63;
}

/* Baterias */
.bat {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
